body{
font-family: Arial;
background:#111;
color:white;
text-align:center;
}

#chart{
width:90%;
height:400px;
margin:auto;
}

#analysis{
margin-top:20px;
font-size:18px;
}

#chat{
width:80%;
margin:auto;
margin-top:20px;
}

#messages{
height:150px;
overflow:auto;
background:#222;
padding:10px;
margin-bottom:10px;
}

input{
padding:8px;
width:60%;
}